<a href="https://colab.research.google.com/github/prakash-raghu/python_examples/blob/main/mult_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
table_num = int( input("enter table number: ") )
for i in range(1, 11, 1):
    result = i * table_num
    print( i, " * ", table_num, " = ", result)

enter table number: 5
1  *  5  =  5
2  *  5  =  10
3  *  5  =  15
4  *  5  =  20
5  *  5  =  25
6  *  5  =  30
7  *  5  =  35
8  *  5  =  40
9  *  5  =  45
10  *  5  =  50